body {
  text-align: center;
}

table,
table td {
  width: 500px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

td {
  background-color: rgb(105, 6, 6);
  font-size: 20px;
  margin: 20px;
  border: 3px solid white;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
}

#score {
  background-color: seagreen;
  height: 50px;
  margin-top: 10px;
}

#score td {
  background-color: rgb(143, 143, 143);
  height: 70px;
}

p {
  font-size: 50px;
  font-weight: bold;
}
